
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--color);
    color: rgb(0, 0, 0);
}
.btn:hover{
    background: var(--color);
    color: #000000;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}
.heading h3{
    font-size: 4rem;
    color: var(--color);
    font-family: cursive;
}

section{
    padding: 3rem 9%;
}

.home{
    background-size: cover;
    background-position: center;
    min-height: 80rem;
    display: flex;
    align-items: center;
}

.home .content{
    width: 55rem;
    text-align: center;
}

.home .content h3{
    font-size: 6rem;
    color: var(--color);
    font-family: 'Merienda One', cursive;
}

.home .content p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #e6d0a2;
    line-height: 2;
}

.home .content .btn{
    color: #362e2e;
}

.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
    border-radius: .5rem;
}

.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span{
    font-size: 1.5rem;
    color: #666;
}

.banner-container .banner .content h3{
    color: #222;
    padding-top: .5rem;
    font-size: 2rem;
}

.offer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.offer .box-container .box{
    text-align: center;
}

.offer .box-container .box img{
    height: 10rem;
    margin-bottom: .5rem;
}

.offer .box-container .box h3{
    font-size: 2rem;
    color: var(--color);
    margin: 1rem 0;
}

.offer .box-container .box p{
    line-height: 2;
    font-size: 1.5rem;
    color: #666;
}
